*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.initial{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.nav{
    width: 100%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
}
.nav ul{
    display: flex;
    gap: 32px;
    align-items: center; 
    margin: 0 auto; 
    list-style: none;
}
.btn {
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}
.btn:hover{
    background-color: red;
    cursor: pointer;
    
}
.nav_btn{
  background: rgb(8, 199, 8);
  color: #fff;
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}
.nav_btn:hover{
    background-color: red;
    cursor: pointer;
}
.nav_element a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.hero {
  height: 100vh;
  background: url("./assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content {
  max-width: 800px;
  padding: 20px;
}
.hero-content h1{
    color: white;
}

.hero_up {
  display: inline-block;
  background: #fff;
  color: rgb(27, 210, 27);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero h1 span {
  color: rgb(17, 194, 17);
}

.hero p {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.btn.first:hover{
    background-color: red;
    cursor: pointer;
}

.btn.first {
  background:rgb(8, 186, 8);
  color: white;
}

.btn.sec {
  border: 1px solid white;
  color: white;
}

.skill{
    padding: 130px;
}
.skill1{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}
.skill2{
    text-align: center;
    padding-bottom: 30px;
}
.inu{
    display: flex;
    gap: 24px;
}
.box1{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000027;
    max-width: 267px;
    
}
.box1 img{
    width: 60px;
    height: 60px;
    background-color: rgba(246, 17, 17, 0.744);
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 20px auto;
    padding: 20px;

}
.box h3{
    font-size: 1.1em;
    font-weight: bold;
    color: #000f1c;
    padding-bottom: 15px;

}
.box p{
    font-size: 0.85em;
    color: #666;
    margin: 0;
}
.skill2 h1{
    font-weight: bold;
    padding-bottom: 10px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px;
}

.banner{
    max-width: 1340px;
    margin: 47px 230px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.features-list {
    list-style: none;
    padding: 0px;
}

.features-list li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-left: 90px;
    position: relative;
}

.subtitle {
    color: rgb(11, 232, 11);
    font-size: 14px;
    margin-bottom: 10px;
}

.main-title {
    font-size: 35px;
    line-height: 58px;
    letter-spacing: 0;
    letter-spacing: 0;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.938);
}
.description {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.664);
    padding-left: 15px;
    margin-left: -19px;
}


footer {
    padding-top: 120px;
    background-color: #02264a;
    color: white;
    padding: 20px 0;
    height: 348px;
    width: 1550px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 40px; 
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 14px;
    margin: 0 auto;
    text-align: center;


}
.footer-right h4 {
    margin-bottom: 10px;
    font-weight: normal;
}

.social-icons a {
    background: white;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    margin-right: 15px;
    text-decoration: none;
    opacity: 0.7;
}

.social-icons a:hover {
    background-color: red;
}
.social-icons img{
    width: 20px;
    height: 20px;
}
.last{
    max-width: 1360px;
    height: 384px;
    margin: 0 auto;
    padding: 60px;
    background-color: rgb(247, 239, 249);
    margin: 120px 120px 120px 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

}
#last.last-item h1{
    margin-top: 70px;
    margin-bottom: 16px;
    font-style: bold;
    font-size: 2.5em;
}