.last.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
}

.content-box {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(244, 233, 243);
    height: fit-content;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}
.subtitle {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
    margin-bottom: 10px;
}
.footer-text {
    font-size: 0.9rem;
    color: #888;
    margin-top: 16px;
}
.newline{
    margin-bottom: 16px;
}
.new-btn{
  background: rgb(8, 199, 8);
  color: #fff;
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 16px;
}
.new-btn:hover{
    background-color: red;
    cursor: pointer;
}
.content-box a{
    margin-top: 16px;
}

#position{
  height: 300px;
  display: flex;
  align-items: flex-end
  
}